snippet head
##########################################################
# Copyright 2016, Can HUANG
# This program is free software, it under the terms of GPL.
#
# @Author Can HUANG, huang.volcano.gmail.com
# @Date `!v strftime("%F")`
#
# GPL
##########################################################
endsnippet
